In [5]:
import pandas as pd 
import gmaps 
import requests 
from config import g_key

In [ ]:
# Pandas to read our CSV file and create the locations and measurements from the DataFrame
# gmaps and the API key to create heatmaps and the locations map
# requests dependency to make a request to the Google Places JSON file

In [6]:
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Butaritari,KI,2021-12-04 00:41:55,3.0707,172.7902,82.13,75,93,11.48
1,1,Cape Town,ZA,2021-12-04 00:36:59,-33.9258,18.4232,64.11,67,0,4.00
2,2,Iquique,CL,2021-12-04 00:41:56,-20.2208,-70.1431,66.24,73,7,1.86
3,3,Esperance,AU,2021-12-04 00:41:56,-33.8667,121.9000,64.24,52,0,12.01
4,4,Punta Arenas,CL,2021-12-04 00:37:03,-53.1500,-70.9167,53.71,54,75,19.57

In [7]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [8]:
# Configure gmaps to use your Google API key.

gmaps.configure(api_key=g_key)

In [9]:
# Heatmap of temperature

In [10]:
# Get the maximum temperature.

max_temp = city_data_df["Max Temp"]

temps = []

for temp in max_temp:
    temps.append(max(temp, 0))

In [13]:

# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]

# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, 
                                 weights=[max(temp, 0) for temp in max_temp], 
                                 dissipating=False, 
                                 max_intensity=300, 
                                 point_radius=4)

# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [ ]:
# Heatmap of percent humidity

In [16]:
# Heatmap of percent humidity

locations = city_data_df[["Lat", "Lng"]]

humidity = city_data_df["Humidity"]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [ ]:
# heatmap for percent cloudiness

In [17]:
# heatmap for percent cloudiness

locations = city_data_df[["Lat", "Lng"]]

clouds = city_data_df["Cloudiness"]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
# heatmap for Wind Speed

locations = city_data_df[["Lat", "Lng"]]

wind = city_data_df["Wind Speed"]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [20]:
# Ask the customer to add a minimum and maximum temperature value.

min_temp = float(input("What is the minimum temperature you would like for your trip? "))

max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [58]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)].dropna()
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Butaritari,KI,2021-12-04 00:41:55,3.0707,172.7902,82.13,75,93,11.48
8,8,Rikitea,PF,2021-12-04 00:41:57,-23.1203,-134.9692,76.93,72,7,14.85
9,9,Grand Gaube,MU,2021-12-04 00:41:58,-20.0064,57.6608,77.38,76,23,3.00
14,14,Cayenne,GF,2021-12-04 00:41:59,4.9333,-52.3333,76.08,91,72,7.00
18,18,Gold Coast,AU,2021-12-04 00:42:01,-28.0000,153.4333,88.16,62,0,8.05
20,20,Tiarei,PF,2021-12-04 00:42:01,-17.5333,-149.3333,86.02,76,76,16.60
21,21,Touros,BR,2021-12-04 00:42:02,-5.1989,-35.4608,83.30,79,97,12.55
22,22,Tonj,SS,2021-12-04 00:42:02,7.2737,28.6822,77.79,38,12,4.45
24,24,Vanimo,PG,2021-12-04 00:42:03,-2.6741,141.3028,84.78,73,100,4.56
25,25,Hilo,US,2021-12-04 00:38:23,19.7297,-155.0900,80.80,71,75,10.36

In [59]:
preferred_cities_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Butaritari,KI,2021-12-04 00:41:55,3.0707,172.7902,82.13,75,93,11.48
8,8,Rikitea,PF,2021-12-04 00:41:57,-23.1203,-134.9692,76.93,72,7,14.85
9,9,Grand Gaube,MU,2021-12-04 00:41:58,-20.0064,57.6608,77.38,76,23,3.00
14,14,Cayenne,GF,2021-12-04 00:41:59,4.9333,-52.3333,76.08,91,72,7.00
18,18,Gold Coast,AU,2021-12-04 00:42:01,-28.0000,153.4333,88.16,62,0,8.05

In [60]:
preferred_cities_df.count()

City_ID       145
City          145
Country       145
Date          145
Lat           145
Lng           145
Max Temp      145
Humidity      145
Cloudiness    145
Wind Speed    145
dtype: int64

In [46]:
# Get Travel Destinations

In [61]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.

hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()

hotel_df["Hotel Name"] = ""

hotel_df.head(10)

           City Country  Max Temp      Lat       Lng Hotel Name
0    Butaritari      KI     82.13   3.0707  172.7902
8       Rikitea      PF     76.93 -23.1203 -134.9692
9   Grand Gaube      MU     77.38 -20.0064   57.6608
14      Cayenne      GF     76.08   4.9333  -52.3333
18   Gold Coast      AU     88.16 -28.0000  153.4333
20       Tiarei      PF     86.02 -17.5333 -149.3333
21       Touros      BR     83.30  -5.1989  -35.4608
22         Tonj      SS     77.79   7.2737   28.6822
24       Vanimo      PG     84.78  -2.6741  141.3028
25         Hilo      US     80.80  19.7297 -155.0900

In [48]:
# Retrieve Hotels from a Nearby Search
    # API key
    # Latitude and longitude
    # 5,000-meter radius
    # Type of place

In [62]:
# # Set parameters to search for a hotel.

params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [64]:
# Iterate through the DataFrame.

for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [65]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Butaritari,KI,82.13,3.0707,172.7902,Isles Sunset Lodge
8,Rikitea,PF,76.93,-23.1203,-134.9692,People ThankYou
9,Grand Gaube,MU,77.38,-20.0064,57.6608,Veranda Paul et Virginie Hotel & Spa
14,Cayenne,GF,76.08,4.9333,-52.3333,Hôtel Le Dronmi
18,Gold Coast,AU,88.16,-28.0000,153.4333,Mantra Towers of Chevron Surfers Paradise
...,...,...,...,...,...,...
561,Noumea,NC,86.00,-22.2763,166.4572,Hôtel Le Lagon
562,Moerai,PF,78.10,-22.4333,-151.3333,Le Manotel
571,Pucallpa,PE,82.44,-8.3791,-74.5539,Hospedaje Komby
572,Portobelo,PA,80.04,9.5500,-79.6500,Scuba Portobelo
573,Vaitape,PF,81.68,-16.5167,-151.7500,Conrad Bora Bora Nui

In [66]:
# Create a Maximum Temperature Heatmap from a Hotel DataFrame

In [77]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [78]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]

max_temp = hotel_df["Max Temp"]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(heat_layer)
fig.add_layer(marker_layer)


fig

Figure(layout=FigureLayout(height='420px'))